.a_propos_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 50px 0;
}


#a_propos_title{
    color: #fff;
    text-align: center;
}

.a_propos_description p {
    color: #ffffff; /* Couleur du texte */
    width: 85%;
    text-align: center;
    z-index: 1;
}
.a_propos_description h3{
    text-align: center;
}

.a_propos_description{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.a_propos_de_moi{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 50px;
}

.a_propos_img{
    width: 30%;
}

.ma_photo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.expertise, .qui_suis_je, .me_choisir{
    display: flex;
    flex-direction: row;
}

.expertise{
    flex-direction: row-reverse;
}

@media (max-width: 767px) {
    .expertise, .qui_suis_je, .me_choisir {
        flex-direction: column;
    }

    .a_propos_img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ma_photo{
        width: 200px;
        height: 200px;
    }
}