.a_propos_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.a_propos_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.a_propos_title{
    color : #ffffff ;
}