.homepage_competence{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.homepage_competence_title{
    width: 65%;
    text-align: center;
    margin-top: 50px;
    color: #00ffff;
}

.homepage_competence_h3{
    width: 60%;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
}

.homepage_competence_container{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homepage_competence_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 500px;
    border-radius: 25px;
}

.competence_card_title{
    width: 250px;
    margin-top: 35px;
    color: #00ffff;
}
.homepage_competence_card p{
    color: #ffff;
}

.competence_image{
    height: 80px;
    width: 80px;
}

.projet_image{
    position: absolute;
}

@media screen and (min-width : 320px) and (max-width: 767px) {
    .homepage_competence{
        height: 1350px;

    }
    .homepage_competence_container{
        flex-direction: column;
        height: 1000px;
    }
    
    .homepage_competence_title{
        font-size: 30px;
        width: 90%;
    }
}