.homepage_portfolio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,255,255,1) 0%, rgba(0,0,0) 100%);
}
.no-scroll {
    overflow: hidden;
  }
  .homepage_portfolio {
    position: relative;
    overflow: hidden; /* Empêche le contenu de dépasser du conteneur */
  }  
.image_section{
    width: 50%;
    height: 100%;
}

.projet_container{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    gap: 10%;
    margin: 0 0 50px 0;
}

.homepage_portfolio_title{
    margin-top: 100px;
    text-align: center;
    color: #ffff;
}

.projet_description{
    width: 100%;
    height: 100%;
    padding:0 50px ;
}


.projet_informations{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.projet_informations p, h2{
    color: #ffff;
}

.projet_informations p {
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    text-align: center;
}

.projet_capture{
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.projet_visualisation{
    height: 100%;
    display: flex;
    align-items: center;
}

.image_iphone{
    height: 100%;
    margin-left: 100px;
}

.prev_projet, .next_projet{
    position: absolute;
    border: none;
    background: none;
    z-index: 10;
    background-color: #00000071;
    border-radius: 10px;
    width: 50px;
}

.prev_projet img, .next_projet img{
    height: 50px;
    filter: invert();
    overflow-x : hidden !important

}

.next_projet{
    right: 50px;
    display: flex;
    justify-content: center;
}

.prev_projet{
    left: 50px;
    display: flex;
    justify-content: center;
}

.link_button{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

@media screen and (min-width : 320px) and (max-width: 767px) {
    .homepage_portfolio{
        flex-direction: column-reverse;
    }
    .projet_description{
        width: 100%;
        padding: 0 20px;
    }
    .projet_container{
        width: 100%;
    }
    .homepage_portfolio_title{
        margin-top: 50px;
        font-size: 25px; 
    }
    .projet_informations h2{
        font-size: 19px;
        text-align: center;
    }
    .projet_informations{
        align-items: center;
    }
    .projet_informations p{
        text-align: start;
    }
    .image_iphone{
        margin-left: 50px;
    }
    .projet_capture{
        left: 64.5px;
    }
    .next_projet{
        right: 5px;
        top: 200px;
        background-color: #00000000;
    }
    .prev_projet{
        left: 5px;
        top: 200px;
        background-color: #00000000;
    }
    .prev_projet img, .next_projet img{
        height: 30px;
    }
    .image_section {
        width: 100%;
        height: 250px;
    }
    .projet_visualisation{
        height: 250px;
    }
    .projet_capture{
        height: 250px;
    }
    .projet_informations p {
        text-align: center;
    }
}

@media screen and (min-width : 768px) and (max-width: 1023px) {
    .homepage_portfolio{
        height: 810px;
    }
    .homepage_portfolio_title{
        margin-top: 50px;
    }
    .projet_container{
        margin: 0;
    }
    .projet_informations{
        align-items: center;
    }
    .projet_informations p{
        text-align: start;
    }
    .image_iphone{
        margin-left: 50px;
    }
    .projet_capture{
        height: 250px;
    }
    .next_projet{
        right: 10px;
    }
    .prev_projet{
        left: 10px;
    }
    ul.tag_liste{
        padding: 0;
    }
    .image_section {
        width: 100%;
        height: 250px;
    }
    .projet_visualisation{
        height: 250px;
    }
    .projet_informations p {
        text-align: center;
    }
}
